html * {
  font-family: Inter !important;
}

.text-center {
  text-align: center;
}

.root-div {
  margin-top: 150px;
}

input[type=text],
select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.timeline-wrapper {
  position: relative;
  width: 100%;
  margin: auto;
  height: 150px;
}

.timeline-wrapper .middle-line {
  border-top: 2px solid #d9d9d9;
  width: 50px;
  height: 2px
}

.middle-line-1 {
  border-top: 2px solid #5D3FD3;
  width: 50px;
  height: 2px
}

.box {
  width: 10%;
  position: relative;
  min-height: 100px;
  float: center;
}

.box .date {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #fff;
  border: 1px solid #d9d9d9;
  background-color: #5D3FD3;
}

.date p {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 0px;
  padding-top: 10px;
  color: white;
}

button {
  cursor: pointer;
  font-size: 15px;
  border: 2px solid #5D3FD3;
  width: 75%;
  margin-top: 20px;
  background-color: #5D3FD3;
  color: white;
  border-radius: 5px;
  padding: 10px
}

label {
  margin-right: 260px;
}

.align-div {
  margin: auto;
  width: 25%;
  text-align: center;
}